body {
    background-color: black;

}

h1 {
    position: relative;
    left: 300px;
    bottom: -30px;
    width: 200px;
}
b {
    letter-spacing: normal;
    position: relative;
    left: 10px;
    line-height: 1.5;
    white-space: pre;
    font-size: 22px;
}
i {
    letter-spacing: normal;
    position: relative;
    left: 280px;
    line-height: 1.5;
    white-space: pre;
    font-size: 22px;
}
.mid-center { 
    position:relative;
    bottom: 10%; 
    left: 20%;
} 